. u-section-1-1 {
  background-image :  linear-gradient ( 0 deg ,  rgba ( 0 , 0 , 0 , 0.4 ) ,  rgba ( 0 , 0 , 0 , 0.4 )) ,  url ( "images / Fortnite_gt-landing-page_1200x600.248150bfce6a0fb32733bf05e5af09a39b38a7b3.jpg" ) ;
}

. u-секция-1-1 . u-sheet-1 {
  минимальная высота :  800 пикселей ;
}

. u-секция-1-1 . u-text-1 {
  размер шрифта :  6,25 бэр ;
  ширина :  745 пикселей ;
  font-weight :  700 ;
  продолжительность анимации :  1000 мс ;
  поля :  590 пикселей, авто 60 пикселей ;
}

@media ( max-width :  1199 пикселей ) {
  . u-секция-1-1 . u-sheet-1 {
    минимальная высота :  660 пикселей ;
  }
}

@media ( max-width :  991 пикс. ) {
  . u-секция-1-1 . u-sheet-1 {
    минимальная высота :  506 пикселей ;
  }

  . u-секция-1-1 . u-text-1 {
    ширина :  720 пикселей ;
  }
}

@media ( max-width :  767 пикселей ) {
  . u-секция-1-1 . u-sheet-1 {
    минимальная высота :  380 пикселей ;
  }

  . u-секция-1-1 . u-text-1 {
    размер шрифта :  3 бэр ;
    ширина :  540 пикселей ;
  }
}

@media ( max-width :  575 пикселей ) {
  . u-секция-1-1 . u-sheet-1 {
    минимальная высота :  239 пикселей ;
  }

  . u-секция-1-1 . u-text-1 {
    размер шрифта :  2,75 бэр ;
    ширина :  340 пикселей ;
  }
}. u-block-2fe3-2 {
  позиция : абсолютная;
  внизу :  10 пикселей ;
  ширина : авто;
  высота : авто;
}

. u-block-2fe3-3 {
  позиция : абсолютная;
  слева :  0 ;
}

. u-block-2fe3-4 {
  позиция : абсолютная;
  ширина :  65 пикселей ;
  высота :  65 пикселей ;
  слева : авто;
  справа :  0 ;
}. u-секция-2 . u-sheet-1 {
  минимальная высота :  789 пикселей ;
}

. u-секция-2 . u-text-1 {
  font-weight :  700 ;
  тень текста :  2 пикселя  2 пикселя  8 пикселей  rgba ( 0 , 0 , 0 , 0,4 );
  поля :  11 пикселей  55 пикселей  0  116 пикселей ;
}

. u-секция-2 . u-image-1 {
  ширина :  594 пикс ;
  высота :  319 пикселей ;
  поля :  39 пикселей  243 пикселей  0 авто;
}

. u-секция-2 . u-text-2 {
  поля :  46 пикселей  30 пикселей  60 пикселей  141 пикселей ;
}

@media ( max-width :  1199 пикселей ) {
  . u-секция-2 . u-text-1 {
    маржа справа :  0 ;
    маржа слева :  0 ;
  }

  . u-секция-2 . u-text-2 {
    маржа справа :  0 ;
    маржа слева :  0 ;
  }
}

@media ( max-width :  991 пикс. ) {
  . u-секция-2 . u-image-1 {
    поле справа :  126 пикселей ;
  }
}

@media ( max-width :  767 пикселей ) {
  . u-секция-2 . u-sheet-1 {
    минимальная высота :  760 пикселей ;
  }

  . u-секция-2 . u-image-1 {
    ширина :  540 пикселей ;
    высота :  290 пикселей ;
    маржа справа :  0 ;
  }
}

@media ( max-width :  575 пикселей ) {
  . u-секция-2 . u-sheet-1 {
    минимальная высота :  653 пикселей ;
  }

  . u-секция-2 . u-image-1 {
    ширина :  340 пикселей ;
    высота :  183 пикс ;
  }
}. u-секция-3 . u-sheet-1 {
  минимальная высота :  587 пикселей ;
}

. u-секция-3 . u-text-1 {
  font-weight :  700 ;
  продолжительность анимации :  1000 мс ;
  тень текста :  2 пикселя  2 пикселя  8 пикселей  rgba ( 0 , 0 , 0 , 0,4 );
  поля :  20 пикселей  49 пикселей  0  94 пикселей ;
}

. u-секция-3 . u-image-1 {
  ширина :  610 пикселей ;
  высота :  374 пикс ;
  поля :  20 пикселей  236 пикселей  0 авто;
}

. u-секция-3 . u-text-2 {
  поля :  30 пикселей  49 пикселей  60 пикселей  94 пикселей ;
}

@media ( max-width :  1199 пикселей ) {
  . u-секция-3 . u-text-1 {
    маржа справа :  0 ;
    маржа слева :  0 ;
  }

  . u-секция-3 . u-text-2 {
    маржа справа :  0 ;
    маржа слева :  0 ;
  }
}

@media ( max-width :  991 пикс. ) {
  . u-секция-3 . u-image-1 {
    поле справа :  110 пикселей ;
  }
}

@media ( max-width :  767 пикселей ) {
  . u-секция-3 . u-sheet-1 {
    минимальная высота :  544 пикселей ;
  }

  . u-секция-3 . u-image-1 {
    ширина :  540 пикселей ;
    высота :  331 пикс ;
    маржа справа :  0 ;
  }
}

@media ( max-width :  575 пикселей ) {
  . u-секция-3 . u-sheet-1 {
    минимальная высота :  421 пикселей ;
  }

  . u-секция-3 . u-image-1 {
    ширина :  340 пикселей ;
    высота :  208 пикселей ;
  }
}. U-образная секция-4 . u-sheet-1 {
  минимальная высота :  869 пикселей ;
}

. U-образная секция-4 . u-text-1 {
  font-weight :  700 ;
  тень текста :  2 пикселя  2 пикселя  8 пикселей  rgba ( 0 , 0 , 0 , 0,4 );
  поле :  10 пикселей  0  0  49 пикселей ;
}

. U-образная секция-4 . u-image-1 {
  ширина :  598 пикселей ;
  высота :  336 пикселей ;
  поля :  30 пикселей  233 пикселей  0 авто;
}

. U-образная секция-4 . u-text-2 {
  тень текста :  2 пикселя  2 пикселя  8 пикселей  rgba ( 0 , 0 , 0 , 0,4 );
  поля :  30 пикселей  0  60 пикселей  93 пикселей ;
}

@media ( max-width :  1199 пикселей ) {
  . U-образная секция-4 . u-text-1 {
    маржа слева :  0 ;
  }

  . U-образная секция-4 . u-text-2 {
    маржа слева :  0 ;
  }
}

@media ( max-width :  991 пикс. ) {
  . U-образная секция-4 . u-image-1 {
    поле справа :  122 пикселей ;
  }
}

@media ( max-width :  767 пикселей ) {
  . U-образная секция-4 . u-sheet-1 {
    минимальная высота :  837 пикселей ;
  }

  . U-образная секция-4 . u-image-1 {
    ширина :  540 пикселей ;
    высота :  304 пикс ;
    маржа справа :  0 ;
  }
}

@media ( max-width :  575 пикселей ) {
  . U-образная секция-4 . u-sheet-1 {
    минимальная высота :  724 пикселей ;
  }

  . U-образная секция-4 . u-image-1 {
    ширина :  340 пикселей ;
    высота :  191 пикс ;
  }
}
© 2021 GitHub, Inc.
Условия
Конфиденциальность
Безопасность
Статус
Документы
Связаться с GitHub
Ценообразование
API
Подготовка
Блог
О
